<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/assets/css/main.css" />
      <link rel="shortcut icon" href="{{site.CDN_url}}/icon/wm.png" />
  </head>
  <body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
          {% if page.lang=="FR" %}
						<h1><a href="/fr">Walking Machine</a> ETS</h1>
					{% else %}
						<h1><a href="/">Walking Machine</a> ETS</h1>
					{% endif %}
					<nav id="nav">
						<ul>
              {% for menu in site.t[page.lang] %}
                {% if menu[1].sub_m == null %}
                  <li><a href="{{ menu[1].url }}" class="button">{{ menu[1].name }}</a></li>
                {% else %}
                  <li>
                    <a href="{{menu[1].url}}" class="icon fa-angle-down button">{{menu[1].name}}</a>
                    <ul>
                    {% for sub in menu[1].sub_m %}
                      <li><a href="{{sub[1].url}}">{{sub[1].name}}</a></li>
                    {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
              {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %}
              <li>
                <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
              </li>
              {% endfor %}

              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %}
                <li>
                  <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                </li>
              {% endfor %}
            </ul>
					</nav>
        </header>
