<!DOCTYPE HTML>

<html>
	<head>
		<title>WalkingMachine ETS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">Walking Machine</a> ETS</h1>
					<nav id="nav">
						<ul>
							<li><a href="/" class ="button">Accueil</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Walking Machine</h2>
					<p>Club de robotique participant à la Robocup@Home</p>
					<ul class="actions">
						<li><a href="#" class="button special">À propos</a></li>
						<li><a href="#" class="button">Nous Contacter</a></li>
					</ul>
				</section>
