.h300 {
  height: 300px;
}


.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
}

.photo-gallery li {
	display: inline-block;
	width: 33%;
}

.photo-gallery li img {
	width: 100%;

@media only screen and (max-width : 840px){
    .btn-mobile-visible{
        visibility: visisble
    };
}

@media only screen and (min-width: 841px) {
    .btn-mobile-visible{
        visibility: hidden;
    };

}
