{% include header.html %}
<section id="main" class="container">
  <header>
        {{content}}
        <hr>
        <h4><b>{{site.street}}</b></h4>
        {% if page.lang == "FR" %}
        <h1><b>Téléphone:</b> {{site.phone}} </h1>
        <h1><b>Courriel:</b> {{site.email}}</h1>
        <h1><b>Salle:</b> {{site.room[page.lang]}}</h1>
        {% else %}
        <h1><b>Phone:</b> {{site.phone}} </h1>
        <h1><b>Email:</b> {{site.email}}</h1>
        <h1><b>Room:</b> {{site.room[page.lang]}}</h1>
        {% endif %}
  </header>
  <div class="box">
    <form method="post" action="http://formspree.io/walking@ens.etsmtl.ca">
      <div class="row uniform 50%">
        <div class="6u 12u(mobilep)">
          <input type="text" name="name" id="name" value="" placeholder="{{page.name_field}}" />
        </div>
        <div class="6u 12u(mobilep)">
          <input type="email" name="email" id="email" value="" placeholder="{{page.email_field}}" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="text" name="subject" id="subject" value="" placeholder="{{page.subject_field}}" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <textarea name="message" id="message" placeholder="{{page.message_field}}" rows="6"></textarea>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="{{page.send_btn}}" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
{% include footer.html %}
