{% include header.html %}
<section id="main" class="container">
  <header>
        {{content}}
        <hr>
        <h4><b>{{page.street}}</b></h4>
        <h1><b>{% if {{page.lang}} == "FR" %}Téléphone:{% else %}Phone:{% endif %} </b> {{page.phone}}</h1>
        <h1><b>{% if {{page.lang}} == "FR" %}Courriel:{% else %}Email:{% endif %} </b> {{page.email}}</h1>
        <h1><b>{% if {{page.lang}} == "FR" %}Salle:{% else %}Room:{% endif %} </b> {{page.room}}</h1>
  </header>
  <div class="box">
    <form method="post" action="http://formspree.io/walking@ens.etsmtl.ca">
      <div class="row uniform 50%">
        <div class="6u 12u(mobilep)">
          <input type="text" name="name" id="name" value="" placeholder="Name" />
        </div>
        <div class="6u 12u(mobilep)">
          <input type="email" name="email" id="email" value="" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="text" name="subject" id="subject" value="" placeholder="Subject" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
{% include footer.html %}
