{% include header.html %}
<section id="main" class="container">
  <header>
    <h2>{{page.Title}}</h2>
    <p>{{page.subTitle}}</p>
  </header>
  <div class="box">
    <span class="image featured"><img class="h300" src="{% if page.image != null %} {{site.CDN_url}}{{page.image}} {% else %}{{site.CDN_url}}/theme/banner.jpg{% endif %}" alt="Oh no we didnt find the image that goes here :( " /></span>
    <article class="post">
        <div class="entry">
            {{ content }}
        </div>


    </article>
  </div>
</section>
{% include footer.html %}
