{% include header.html %}
<section id="main" class="container">



    <header>
    <h2>{{page.Title}}</h2>
    <p>{{page.subTitle}}</p>


  </header>
  <div class="box">
    <span class="image featured"><img src="{% if page.image != null %}{{site.CDN_url}}{{page.image}}{% else %}/img/sara/team_banner.jpg{% endif %}" alt="Oh no we didnt find the image that goes here :( " /></span>


  	{% for team in site.data.members.team %}
  		<div class="row">
  		<b><h3>{{team.name[page.lang]}}</h3></b>
  		</div>

		  <div class="row">
		    {% for member in team.membres %}
			    <div style="vertical-align:bottom">

				    <h4>{{member.name}}</h4>

				    <img style="width:200px;height:200px;" src="{% if member.picture != null %}{{site.CDN_url}}/membres/{{member.picture}}{% else %}{{site.CDN_url}}/membres/unknown.png{% endif %}"alt="Oh no we didnt find the image that goes here :( ">
            {% if member.poste[page.lang] != null %}
              <p>{{member.poste[page.lang]}}</p>
            {% else %}
              <p style="height:35px"> </p>
            {% endif %}

			    </div>
		    {% endfor %}
	    </div>
	   <hr>
	   {% endfor %}

     {% for team in site.data.formermembers.team %}
       <div class="row">
       <b><h2>{{team.name[page.lang]}}</h2></b>
       </div>

       <div >
         {% for member in team.membres %}
           <div>

             <h3>{{member.name}}</h3>

              {% if member.poste1[page.lang] != null %}
                <h4>{{member.poste1[page.lang]}}</h4>
              {% else %}
              {% endif %}
              {% if member.poste2[page.lang] != null %}
                <h4>{{member.poste2[page.lang]}}</h4>
              {% else %}
              {% endif %}

           </div>
         {% endfor %}
       </div>
      <hr>
      {% endfor %}

      <h4> If you were in the team before and want to be part of the former members list, email us : <a>walkingmachine@gmail.com</a> </h4>
  </div>

</div>
</section>

{% include footer.html %}
